* {
  background-color: aquamarine;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px grey;
  width: 100px;
  height: 100px;
}
