* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav ul {
    background: orange;
    width: 14rem;
}

.navbar li {
    background-color: green;
    list-style: none;
    width: 100%;
    
}

.navbar a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 2em 2em 2em 6em;
    border: 1px solid black;
    margin-bottom: -1px;

}

.navbar .blog {
    background: orange url(../icons/blog.svg) no-repeat 2em center;
    background-size: 2em 2em;
}

.navbar .home {
    background: orange url(../icons/home.svg) no-repeat 2em center;
    background-size: 2em 2em;
}

.navbar .learning {
    background: orange url(../icons/learn.svg) no-repeat 2em center;
    background-size: 2em 2em;
}

.navbar .discuss {
    background: orange url(../icons/discuss.svg) no-repeat 2em center;
    background-size: 2em 2em;
}
